*{
    margin: 0;padding:0; box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,html{
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}
#CV{
    width: 21cm;
    height: 29.7cm;
    background-color: rgb(255, 255, 255);
}
.header-cv{
    width: 95%;
    height: 5cm;
    display: flex;
    background-color: rgba(238, 130, 238, 0.226);
    margin: .5cm;
    border-radius: 15px;
}
.img-cv{
    width: 25%;
}
.img-cv img{
    width: 100%;
    border-radius: 50%;
    padding: .3cm;
}
.text-header{
    width: 75%;
    text-align: center;
    margin-top: 2cm;
    line-height: 35px;

}
.text-header .name-cv{
    font-weight: bolder;
    color:orange;
}
/* het header CV */

.content-CV{
    display: flex;
}
.content-CV .left{
    width: 45%;
    margin: .5cm;
    
}
.content-CV .left .information{
    background-color: rgba(238, 130, 238, 0.226);
    border-radius: 15px;
    padding:.3cm;
    line-height: 1.2cm;
    position: relative;
}
.content-CV .left .information .info-name{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:1.5cm;
    padding: .1cm .2cm;
    border-radius:15px;
}

.content-CV .left .skill{
    background-color: rgba(238, 130, 238, 0.226);
    border-radius: 15px;
    padding:.3cm;
    margin-top:1cm;
    line-height: 1.2cm;
    position: relative;
}
.content-CV .left .skill .skill-name{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:.8cm;
    padding: .1cm .2cm;
    border-radius:15px;
}
.certificate{
    background-color: rgba(238, 130, 238, 0.226);
    border-radius: 15px;
    padding:.3cm;
    margin-top:1cm;
    line-height: 1.2cm;
    position: relative;
}
.certificate .certificate-name{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:.8cm;
    text-transform: uppercase;
    padding: .1cm .2cm;
    border-radius:15px;
}
/* het left */



.content-CV .right{
    width: 55%;
    margin: .5cm;
}
.content-CV .right .career-goals{
    background-color: rgba(238, 130, 238, 0.226);
    border-radius: 15px;
    padding: .5cm ;
    position: relative;
}
.content-CV .right .career-goals .name-career-goals{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:.8cm;
    padding: .4cm .4cm;
    border-radius:15px;
}
.content-CV .right .career-goals p{
   line-height: 1cm;
}
.education{
    background-color: rgba(238, 130, 238, 0.226);
    margin-top:1cm;
    position: relative;
    padding:.9cm .5cm;
    line-height: 1cm;
    border-radius: 15px;
}
.education .education-name{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:.8cm;
    padding: .4cm .4cm;
    border-radius:15px;
}
.work-experience{
    background-color: rgba(238, 130, 238, 0.226);
    margin-top:1cm;
    position: relative;
    padding:.9cm .5cm;
    line-height: 1cm;
    border-radius: 15px;
}
.work-experience .work-name{
    position: absolute;
    background-color: orange;
    font-weight: bold;
    top:-.8cm;
    left:.8cm;
    padding: .4cm .4cm;
    border-radius:15px;
}
/* het right */